.deliver-to-card {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #b00000;
    border-radius: 5px;
    padding: 20px;
    color: white;
    max-width: 130px;
    height: 60px;
    margin-right: 100px;
}

.deliver-to-icon {
    position: absolute;
    bottom: 40px;
    right: 80px;
    font-size: 60px;
    color: #00a99d;
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

.deliver-to-text {
    display: flex;
    flex-direction: column;

}

.deliver-to-label {
    font-size: 14px;
    color: #cccccc;
}

.deliver-to-country {
    font-size: 18px;
    font-weight: bold;
}