.banner-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  
    margin: 20px;
}


.image {
    display: block;
    margin:  20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 98%;
   
}