.container {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.sidebar {
  width: 240px;
}

.child {
  width: calc(100% - 240px);
  height: 100vh;
  margin-left: 30px;
}

@media (max-width: 578px) {
  .container {
    display: block;
  }
  .sidebar {
    display: none;
  }
}
